<div class="row first">
    <div class="col-sm-11">Education</div>
    <div class="col-sm-1"><a (click)="scroll('header')" href="info" class="goTop" title="Go To Top"><i class="fa fa-arrow-up"
                style="font-size:24px"></i></a></div>
</div>
<div class="row">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row eTitle">Master of Science(MS) - <b class="major">Computer Science</b></div>
                    <div class="row eSub">Rochester Institute of Technology (RIT), Rochester, New York, United States of
                        America</div>
                    <div class="row eSub"><p><b>Courses:</b> Big Data Analytics, Web Services and Service Oriented Computing, Data Driven Knowledge Discovery</p></div>
                </div>
                <div class="col-sm-3">August 2021 - May 2023</div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row eTitle"><a target="_blank"
                            href="https://www.credential.net/fd893a40-392c-4a42-9299-50f4f1d8afed#gs.sm6zdc">Post
                            Graduate Certification Program - <b class="major">Big Data Engineering</b></a></div>
                    <div class="row eSub">Birla Institute of Technology and Science (BITS), Pilani, Rajasthan, India
                    </div>
                    <div class="row eSub"><p><b>Courses:</b> Foundations of Big Data Systems, Platforms for Big Data, ETL and Batch Processing, Processing of Real-time and Streaming Data. Big Data Analytics</p></div>
                </div>
                <div class="col-sm-3">July 2019 - May 2020</div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row eTitle">Bachelors of Technology(BTech) - <b class="major">Information Technology</b>
                    </div>
                    <div class="row eSub">Vellore Institute of Technology (VIT), Vellore, Tamil Nadu, India</div>
                </div>
                <div class="col-sm-3">July 2013 - May 2017</div>
            </div>
        </div>
    </div>

</div>