<div class="row first">
    <div class="col-sm-11">Skills Summary</div>
    <div class="col-sm-1"><a (click)="scroll('header')" class="goTop" title="Go To Top" routerLink="info"><i class="fa fa-arrow-up"
                style="font-size:24px"></i></a></div>
</div>
<ul>
    <li>
        <div class="row">
            <div class="col-sm-3"><b>Languages:</b></div>
            <div class="col-sm-9">Java, Python, JavaScript, jQuery, XML, HTML, CSS, JSON</div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-sm-3"><b>Frameworks:</b></div>
            <div class="col-sm-9">Angular, Spring Boot, Flask, BootStrap</div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-sm-3"><b>Databases</b></div>
            <div class="col-sm-9">Oracle, PostgreSQL, MongoDB, MySQL</div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-sm-3"><b>DevOps & Cloud</b></div>
            <div class="col-sm-9">Pivotal Cloud Foundry (PCF), Amazon Web Service (AWS), CI/CD Pipelines</div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-sm-3"><b>Concepts</b></div>
            <div class="col-sm-9">Object Oriented Programming, Algorithm and Data Structures, DBMS, Agile (SCRUM), SDLC, API Design, Enterprise Application Development, System Design</div>
        </div>
    </li>
</ul>