<div class="row">
    <div class="col-sm-5">
        <span class="name"><b>Harsh Bhansali</b></span><span class="title"> / Associate Consultant</span>
    </div>
    <div class="col-sm-7">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link button" [ngClass]="{'active': aboutMeActive}" routerLink="about-me" (click)="changeActiveTab('about-me')">ABOUT ME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link button" [ngClass]="{'active': resumeActive}" routerLink="resume" (click)="changeActiveTab('resume')">RESUME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link button" [ngClass]="{'active': projectsActive}" routerLink="projects" (click)="changeActiveTab('projects')">PROJECTS</a>
            </li>
        </ul>
    </div>
</div>