.name {
    font-size: 25px;
    margin-left: 1rem;
}
.title {
    font-size: 18px;
    margin-left: 1rem;
}

li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.active {
    padding: 10px;
    background-color: #365899;;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
}