<hr style="height: 2px; border-width: thick; margin-top: 25px;">
<div class="row">
    <div class="col-sm-3">&#169; 2021-{{currentYear}} by Harsh Bhansali</div>
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <div class="row" style="text-align: center;"><b>Call</b></div>
        <div class="row">+1-(781)-778-8604</div>
    </div>
    <div class="col-sm-2">
        <div class="row" style="text-align: center;"><b>Write</b></div>
        <div class="row">hgbhansali96@gmail.com</div>
    </div>
</div>