<div class="row first">
    <div class="col-sm-11">About Me</div>
    <div class="col-sm-1"><a (click)="scroll('header')" routerLink="info" class="goTop"><i class="fa fa-arrow-up" style="font-size:24px"></i></a></div>
</div>
<div class="row">
    <!-- <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <div class="row upper">
            <div class="col"></div>
        </div>
        <div class="row middle">
            <div class="col-sm-4 inner">
                <div class="row">
                    <img src="assets/images/WA_HB_Photo.jpeg" class="profilePic" alt="ProfilePic">
                </div>
                <div class="row" style="text-align: center;">
                    <span style=" width: 100%;"><a href="https://www.linkedin.com/in/harsh-bhansali/" target="_blank"><b
                                style="font-size: 1.4rem;">Harsh Bhansali </b><i class="fa fa-linkedin-square"
                                style="font-size:24px"></i></a>
                        <br />Graduate Student</span>
                </div>
                <hr style="border-width: thick;">
            </div>
            <div class="col-sm-8">
                <div style="font-size: 50px;">Hello</div>
                <div style="font-size: 25px;">Here's who I am &amp; what I do</div>
                <div class="row" style="margin-left: 0.2rem;">
                    <div class="col-sm-2"><a class="button" href="#/info/resume">Resume</a></div>
                    <div class="col-sm-2"><a class="button" href="#/info/projects">Projects</a></div>
                </div>
                <div>
                    <ul>
                        <li>Pursing Master of Science in Computer Science at Rochester Institute of Technology</li>
                        <li>Started my journey as a Software Engineer Trainee at Capgemini Technology Services India
                            Limited in October 2017 and worked my way up to a post of Associate Consultant before
                            transitioning to RIT as a graduate student in August 2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row lower">
            <div class="col"></div>
        </div>
    </div>
    <div class="col-sm-2"></div> -->

    <!-- <p>Driven computer science professional with 4+ years of experience leading agile teams to build innovative enterprise-level applications. Skilled in Angular, Java, Python, and Spring Boot. Received master's degree in computer science with a focus on big data analytics. Previous experience redesigning legacy applications resulting in a 40% code reduction and 23% faster claim turnaround time. Passionate about developing clean, efficient code and architecting complex systems. Excels at clarifying requirements, uncovering solutions, and collaborating cross-functionally. Seeking a senior software engineer role at a technology-focused company to utilize analytical abilities and leadership skills. Contributed to $1M+ cost savings on high-visibility projects. Named Rising Star for delivering exceptional results that exceeded objectives. Mentored 5+ junior developers on software best practices and design thinking.</p> -->

    <ul>
        <li>With a Master's degree in Computer Science and over 4 years of experience leading development teams, I am a results-driven full stack developer skilled at designing, developing, and deploying complex enterprise applications.</li>
        <li>I have spearheaded initiatives to redesign legacy applications using modern frameworks like Angular and Spring Boot, resulting in reduced codebase, faster claim processing, and improved application architecture.</li>
        <li>With my strong full-stack development skills, leadership abilities, and track record of delivering production-grade applications, I aim to bring valuable technical and strategic expertise to the organization.</li>
    </ul>

</div>