<div class="row mainCard">
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <div class="row upper">
            <div class="col"></div>
        </div>
        <div class="row middle">
            <div class="col-sm-4 inner">
                <div class="row">
                    <img src="assets/images/Harsh.JPG" class="profilePic" alt="ProfilePic">
                </div>
                <div class="row" style="text-align: center;">
                    <span style=" width: 100%;"><a href="https://www.linkedin.com/in/harsh-bhansali/" target="_blank"><b
                                style="font-size: 1.4rem;">Harsh Bhansali </b><i class="fa fa-linkedin-square"
                                style="font-size:24px"></i></a>
                        <br />Graduate Student</span>
                </div>
                <hr style="border-width: thick;">
            </div>
            <div class="col-sm-8">
                <div style="font-size: 50px;">Hello</div>
                <div style="font-size: 25px;">Here's who I am &amp; what I do</div>
                <div class="row" style="margin-left: 0.2rem;">
                    <div class="col-sm-2"><a class="button" href="#/info/resume">Resume</a></div>
                    <div class="col-sm-2"><a class="button" href="#/info/projects">Projects</a></div>
                </div>
                <div> I am pursuing Master of Science with Computer Science as my major from Rochester Institute of
                    Technology, New York. I have 4 years of experience in the field of IT services. I started my journey
                    as a Software Engineer Trainee at Capgemini Technology Services India Limited in October 2017 and
                    worked my way up to a post of Associate Consultant before transitioning to RIT as a graduate
                    student. My responsibilities included development, delivery and maintenance of web based
                    applications, using Angular 8, Spring Frameworks(Boot, Security, MVC), for the Insurance giant -
                    State Farm. My team also worked on developing Restful API's using Spring Boot to support the web
                    applications. During my time at Capgemini, I was also given the opportunity to manage a team of
                    developers in an agile environment.</div>
            </div>
        </div>
        <div class="row lower">
            <div class="col"></div>
        </div>
    </div>
    <div class="col-sm-2"></div>

</div>