.first {
    margin-top: 15px;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}

.eTitle {
    margin-left: 0.5rem;
}

.eSub {
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.heading {
    margin-left: 3rem;
}

.major {
    margin-left: 0.2rem;;
}

.card {
    width: 100%;
}