<div class="row first">
    <div class="col-sm-11">Experience</div>
    <div class="col-sm-1"><a (click)="scroll('header')" routerlink="info" class="goTop" title="Go To Top">
        <i class="fa fa-arrow-up" style="font-size:24px"></i></a></div>
</div>
<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-9">
          <div class="row eTitle">Capgemini <b class="major">(State Farm)</b></div>
          <div class="row eSub">Full Stack Developer</div>
        </div>
        <div class="col-sm-3">October 2017 - July 2021</div>
      </div>

    </div>
    <div class="card-body">
        <ul>
            <li><b>Positions Held</b> - Associate Consultant, Senior Software Engineer, Software Engineer</li>
            <li>Advanced through several promotions, culminating to a consultant level role responsible for leading software development activity for <b>State Farm</b>.</li>
            <li>Led a team of 5 developers, responsible to prototype and develop enterprise application using <b>Angular framework</b> in a
                <b>fast-paced, collaborative</b> environment</li>
            <li>Led design and development efforts to redesign and merge 4 legacy applications, initially developed using Spring MVC,
                using Angular Framework and Spring Boot (PCF). This master application <b>decreased the claim Turn-Around-Time
                (TAT) by 23%</b></li>
            <li>Implemented a component-based architecture resulting in a <b>40% reduction</b> in the codebase. Integrated role-based
                access to application components to replicate the functionality of a <b>single-page application (SPA).</b></li>
            <li>Collaborated closely with the cross-functional Services team to design, develop, and implement <b>RESTful APIs</b> using
                Python (Flask) and Spring Boot (Java).</li>
            <li>Acted as both a reviewer and a code author in bi-weekly code review meetings, with a team of 17 developers, to evaluate
                the quality and functionality of code.</li>
            <li>Held bi-monthly mentoring sessions for newly joined Software Developers.</li>
            <li><b>Projects:</b></li>
            <ul>
                <li><b>Claim Handler Inventory Prioritization (Enterprise Application, Angular Framework, Spring Boot, Spring Security, Flask):</b> Merged and Migrated 4 legacy enterprise application, developed in Spring MVC, to Angular Framework. Migrated the dependent RESTful API’s to Spring Boot. Used PCF to deploy the projects. Tech: Java, PCF, Angular Framework, TypeScript, Python (Flask), Spring Boot, Spring Security. <b>(January ’20 - July ’21)</b></li>
                <li><b>Claim Settlement Tracker (Enterprise Application, Spring MVC, Spring Boot, Pivotal Cloud Foundry, Front-End Development, Agile Software Development Methodologies):</b> Reduced codebase by 40% by introducing component based architecture. Introduced role based access to application components to mimic a SPA. Tech: Java, IBM’s WebSphere Applicaiton Server, HTML/CSS, JavaScript, jQuery, Ajax, JSP/JSP Fragments <b>(January ’18 - December ’20)</b></li>
            </ul>
        </ul>
    </div>
  </div>