<div class="row first">
    <div class="col-sm-11">Experience</div>
    <div class="col-sm-1"><a (click)="scroll('header')" routerLink="info" class="goTop" title="Go To Top">
            <i class="fa fa-arrow-up" style="font-size:24px"></i></a></div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <div class="row eTitle"><b class="major">Capgemini (State Farm)</b></div>
                <div class="row eSub">Associate Consultant</div>
            </div>
            <div class="col-sm-3">January 2020 - July 2021</div>
        </div>

    </div>
    <div class="card-body">
        <ul>
            <li>Managed a 12-person team to develop, maintain and test enterprise applications for multi-categorical Claim Processing.</li>
            <li>Spearheaded efforts to design and develop a loosely coupled micro-service architecture for 4 legacy applications, using Angular and Spring Boot, reducing claim processing turn-around-time by approximately 23%.</li>
            <li>Engaged as a reviewer and code author in bi-weekly code review meetings to meticulously assess code quality and functionality.</li>
            <li>Supported newly onboarded Software Developers by conducted bi-monthly mentoring sessions introducing them with the technology stack used in the projects.</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <div class="row eTitle"><b class="major">Capgemini (State Farm)</b></div>
                <div class="row eSub">Senior Software Developer</div>
            </div>
            <div class="col-sm-3">January 2019 - December 2019</div>
        </div>

    </div>
    <div class="card-body">
        <ul>
            <li>Collaborated closely with the UX team to ideate, design, and implement a robust and user-friendly Spell Checker functionality to enhance the overall user experience.</li>
            <li>Successfully redesigned and implemented a component-based architecture in Spring MVC using JavaScript Servlets and Fragments, leading to 40% reduction in the codebase.</li>
            <li>Integrated role-based access using Spring Security, to application components, effectively emulating the functionality of a single-page application (SPA).</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <div class="row eTitle"><b class="major">Capgemini (State Farm)</b></div>
                <div class="row eSub">Software Developer</div>
            </div>
            <div class="col-sm-3">January 2018 - December 2018</div>
        </div>

    </div>
    <div class="card-body">
        <ul>
            <li>Contributed in developing 30+ RESTful endpoints, using Agile Software Development Methodologies, to process and prioritize claim handlers inventory.</li>
            <li>Orchestrated cross-departmental collaboration to establish end-to-end automated testing framework across various API endpoints; streamlined testing process, resulting in a 32% reduction in bug reports and accelerated time to market by 2 weeks.</li>
            <li>Actively contributed to the team by providing weekly status reports to the client on behalf of the entire off-shore team.</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <div class="row eTitle"><b class="major">Capgemini (State Farm)</b></div>
                <div class="row eSub">Software Developer Trainee</div>
            </div>
            <div class="col-sm-3">October 2017 - December 2017</div>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <div class="row eTitle"><b class="major">Aspire Software Solutions</b></div>
                <div class="row eSub">Software Development Intern</div>
            </div>
            <div class="col-sm-3">May 2015 - July 2015</div>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <div class="row eTitle"><b class="major">Cosywo Engineering Company</b></div>
                <div class="row eSub">Intern</div>
            </div>
            <div class="col-sm-3">December 2014 - February 2015</div>
        </div>

    </div>
</div>