<div class="row first">
    <div class="col-sm-11">Academic Projects</div>
    <div class="col-sm-1"><a (click)="scroll('header')" class="goTop" title="Go To Top" href="info"><i class="fa fa-arrow-up"
        style="font-size:24px"></i></a></div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="row eTitle"><b>JSON-related Bug Report Analysis using NLP Techniques </b> (JSON, Apache JIRA,
                    NLP, Data Analysis, Model Evaluation)</div>
                <div class="row eSub">Research oriented exploration of JSON related bug reports to identify similar
                    clusters and classify the reports to predict the priority of future bugs. <b>Tech:</b> Apache JIRA, Python,
                    Scikit-Learn, NLTK, Matplotlib, Fasttext <b>(January ’23 - May ’23)</b></div>
            </div>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="row eTitle"><b>Credit Card Fraud Detection System </b> (Apache Kafka, Java, Apache Hadoop,
                    HDFS, Spring Boot)</div>
                <div class="row eSub">Implemented an end-to-end architectural solution to consume, store and scan
                    through incoming credit card transactions for their authenticity. Integrated HBase and Hive
                    frameworks to store and clean the incoming transactions. <b>Tech:</b> Java, Apache Hadoop (HDFS), Apache
                    Kafka, Spring Boot, Apache Hive, HBase <b>(January ’19 - May ’19)</b></div>
            </div>
        </div>

    </div>
</div>