<div class="row first">
    <div class="col-sm-11">Leadership and Achievements</div>
    <div class="col-sm-1"><a routerlink="info" (click)="scroll('header')" class="goTop" title="Go To Top"><i class="fa fa-arrow-up"
                style="font-size:24px"></i></a></div>
</div>
<div class="row">
    <ul>
        <li>Recognized with the ’Rising Star’ accolade during the fiscal year 2018-2019 for exceptional achievements.</li>
        <li>Received ’Customer Delight’ award, in FY 2019-2020, for display of exceptional leadership qualities and providing efficient service to the client.</li>
        <li>Organised bi-monthly tutoring sessions for newly hired Software Developers</li>
        <li>Won a Silver medal at district level Karate championship.</li>
    </ul>
</div>