<div class="row first">
  <div class="col-sm-9">Experience</div>
  <div class="col-sm-3">
    <a class="button" href="/src/assets/Resume.pdf" download="Resume">Resume <i class="fa fa-download"></i></a>
  </div>
</div>
<div class="row">
  <div id="exp" style="width: 100%;">

    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#expOne">
          <div class="row">
            <div class="col-sm-9">
              <div class="row eTitle">{{capgemini}}</div>
              <div class="row eSub">{{pune}}</div>
            </div>
            <div class="col-sm-3">October 2017 - July 2021</div>
          </div>
        </a>
      </div>
      <div id="expOne" class="collapse show" data-parent="#exp">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9"><span class="heading">Associate Consultant</span></div>
            <div class="col-sm-3">January 2020 - July 2021</div>
          </div>
          <div class="row">
            <div class="col-sm-9"><span class="heading">Senior Software Engineer</span></div>
            <div class="col-sm-3">January 2019 - January 2020</div>
          </div>
          <div class="row">
            <div class="col-sm-9"><span class="heading">Software Engineer</span></div>
            <div class="col-sm-3">January 2018 - January 2019</div>
          </div>
          <div class="row">
            <div class="col-sm-9"><span class="heading">Software Engineer Trainee</span></div>
            <div class="col-sm-3">October 2017 - January 2018</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#expTwo">
          <div class="row">
            <div class="col-sm-9">
              <div class="row eTitle">{{aspire}}</div>
              <div class="row eSub">{{ahmedabad}}</div>
            </div>
            <div class="col-sm-3">May 2015 - July 2015</div>
          </div>
        </a>
      </div>
      <div id="expTwo" class="collapse" data-parent="#exp">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9"><span class="heading">Software Engineer Trainee</span></div>
            <div class="col-sm-3">October 2017 - January 2018</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#expThree">
          <div class="row">
            <div class="col-sm-9">
              <div class="row eTitle">{{cosywo}}</div>
              <div class="row eSub">{{ahmedabad}}</div>
            </div>
            <div class="col-sm-3">May 2015 - July 2015</div>
          </div>
        </a>
      </div>
      <div id="expThree" class="collapse" data-parent="#exp">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9"><span class="heading">Intern</span></div>
            <div class="col-sm-3">December 2014 - February 2015</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row first">
  <div class="col-sm-12">Education</div>
</div>
<div class="row">
  <div id="edu" style="width: 100%;">

    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#eduOne">
          <div class="row">
            <div class="col-sm-9">
              <div class="row eTitle">Rochester Institute of Technology (RIT)</div>
              <div class="row eSub">Rochester, New York, United States of America</div>
            </div>
            <div class="col-sm-3">August 2021 - Present</div>
          </div>
        </a>
      </div>
      <div id="eduOne" class="collapse show" data-parent="#edu">
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#eduTwo">
          <div class="row">
            <div class="col-sm-9">
              <div class="row eTitle">Birla Institute of Technology and Science (BITS)</div>
              <div class="row eSub">Pilani, Rajasthan, India</div>
            </div>
            <div class="col-sm-3">July 2019 - May 2020</div>
          </div>
        </a>
      </div>
      <div id="eduTwo" class="collapse" data-parent="#edu">
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#eduThree">
          <div class="row">
            <div class="col-sm-9">
              <div class="row eTitle">Vellore Institute of Technology (VIT)</div>
              <div class="row eSub">Vellore, Tamil Nadu, India</div>
            </div>
            <div class="col-sm-3">July 2013 - May 2017</div>
          </div>
        </a>
      </div>
      <div id="eduThree" class="collapse" data-parent="#edu">
        <div class="card-body">

        </div>
      </div>
    </div>

  </div>
</div>