<div class="row outer">
    <div class="row">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Associate Consultant (Jan 2020 - July 2021) - {{capgemini}}</h4>
              <p class="card-text">{{pune}}</p>
            </div>
          </div>
    </div>
    <div class="row">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Senior Software Engineer (Jan 2019 - Jan 2020) - {{capgemini}}</h4>
            <p class="card-text">{{pune}}</p>
          </div>
        </div>
  </div>
</div>